<div class='panel panel-primary'>
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-2">
                <input type="text" [(ngModel)]='productListFilter'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h3>Filtered by:{{productListFilter}}</h3>
            </div>
        </div>
        <div class="table-responsive" *ngIf='products'>
            <table class="table">
                <thead>
                  <tr>
                    <th>
                        <button class="btn btn-primary"
                        (click)='toggleImage()'
                        >
                            {{showImage ? 'Hide' : 'show' }} Image
                        </button>
                    </th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th>5 Star Rating</th>
                  </tr>
                </thead>
                <tbody *ngFor='let product of filteredProductList'>
                    
                    <tr>
                      <td>
                        <img *ngIf='showImage' 
                        [src]='product.imageUrl'
                        [title]='product.productName'
                        [style.width.px]='imageWidth'
                        [style.margin.px]='imageMargin'
                        >

                      </td>
                      <td>{{product.productName}}</td>
                      <td>{{product.productCode | lowercase |convertToSpaces:'-'}}</td>
                      <td>{{product.releaseDate}}</td>
                      <td>{{product.price | currency:'USD':true:'1.2-2'}}</td>
                      <td>
                          <pm-star [rating]='product.starRating'
                            (ratingClicked)='onRatingClicked($event)'
                          >

                          </pm-star></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

